---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="sm:fi mt-2">
    <p class="gpt-title">El moment del Mini 1...</p>
    <p class="gpt-subtitle font-normal">Comença ara!</p>
  </div>
  <p mt-1 op-60 hidden>Based on OpenAI API ({model}).</p>
</header>
